
/*==================================================
 * z-depth 1
 * ===============================================*/
.z-depth1 {
  box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
}

/*==================================================
 * z-depth 2
 * ===============================================*/
.z-depth2 {
  box-shadow: 0 3px 30px 9px rgba(0,0,0,.46);
}

/*==================================================
 * z-depth 3
 * ===============================================*/
.z-depth3 {
  box-shadow: 0 18px 30px 3px rgba(0,0,0,.46);
}

/*==================================================
 * z-depth 4
 * ===============================================*/
.z-depth4 {
  box-shadow: 0 30px 50px 5px rgba(0,0,0,.44);
}

/*==================================================
 * z-depth 5
 * ===============================================*/
.z-depth5 {
  box-shadow: 0 45px 60px 6px rgba(0,0,0,.44);
}
